@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size : 18px;
    box-sizing: border-box;


    /* PRIMARY COLOR */
    --primary-light-red : hsla(0, 100%, 67%,.125);
    --primary-orange-yellow : hsla(39, 100%, 56%,.125);
    --primary-green-teal : hsla(166, 100%, 37%,.125);
    --primary-cobalt-blue : hsla(234, 85%, 45%,.125);
    
    /* PRIMARY TEXT COLOR */
    --primary-text-light-red : hsl(0, 100%, 67%);
    --primary-text-orange-yellow : hsl(39, 100%, 56%);
    --primary-text-green-teal : hsl(166, 100%, 37%);
    --primary-text-cobalt-blue : hsl(234, 85%, 45%);
    
    /* GRADIENTS COLOR */
    /* BACKGROUND */
    --gradient-bg-slate-blue : hsl(252, 100%, 67%);
    --gradient-bg-royal-blue : hsl(241, 81%, 54%);

    /* CIRCLE */
    --circle-bg-violet-blue : hsla(256, 72%, 46%, 1);
    --circle-bg-persian-blue : hsla(241, 72%, 46%, 0);

    /* NEUTRAL COLOR */
    --neutral-white : hsl(0, 0%, 100%);
    --neutral-pale-blue : hsl(221, 100%, 96%);
    --neutral-lavender : hsl(241, 100%, 89%);
    --neutral-gray-blue : hsl(224, 30%, 27%);

}
* {
    margin: 0 auto;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%; 
}

.card {
    width: 100%;
}

.left-card {
    background: linear-gradient(to right top, var(--gradient-bg-royal-blue), var(--gradient-bg-slate-blue));
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: var(--neutral-white);
    height: 45%;
}

.left-box p,
.left-box h4,
.left-box span{
    color: var(--neutral-lavender);
}

.left-box .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.left-box h1 {
    font-weight: 800;
    font-size: 2rem;
}

.circle {
    background: linear-gradient(to bottom, var(--circle-bg-violet-blue), var(--circle-bg-persian-blue));
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: .75rem 0 .75rem 0;
}
.left-card h3:nth-child(3){
    margin-top:1rem;
}
.left-card p {
    margin-top: 1rem;
    text-align: center;
}

.left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box {
    padding: 1rem;
}

.right-card {
    height: 65%;    
}


.right-box {
    text-align: left;
}


.summary-box{
    padding: .75rem;
    margin: .75rem;
    display: flex;
}

.summary-box img {
    margin: 0 .5rem 0 0;
}



.summary-box.reaction{
    background-color: var(--primary-light-red);
    color: var(--primary-text-light-red);
}
.summary-box.memory{
    background-color: var(--primary-orange-yellow);
    color: var(--primary-text-orange-yellow);
}
.summary-box.verbal{
    background-color: var(--primary-green-teal);
    color: var(--primary-text-green-teal);
}
.summary-box.visual{
    background-color: var(--primary-cobalt-blue);
    color: var(--primary-text-cobalt-blue);
}

.summary-box.reaction span,
.summary-box.memory span,
.summary-box.verbal span,
.summary-box.visual span
{
    margin-right: .5rem;
    color: gray;
}
.summary-box.reaction strong,
.summary-box.memory strong,
.summary-box.verbal strong,
.summary-box.visual strong
{
    font-weight: 800;
    color: black;
}

#continue-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
    font-size: 18px;
    border-radius: 2rem;
    border: 0px;
    color: var(--neutral-white);
    background-color: var(--neutral-gray-blue);
}

#continue-btn:hover {
    background-color: var(--circle-bg-violet-blue);
}

@media screen and (min-width: 480px){

    .container {
        flex-direction: row;
        border-radius: 2rem;
        width: 45%;
        height: 60%;
    }

    .card {
        height: 100%;
    }
    
    .left-card {
        width: 110%;
        border-radius: 2rem;
        z-index: 1;
    }

    

}